@model List<Model.EF.Category>

<section id="aa-about-us">
    <div class="container">
        <div class="aa-advance-Category-area">
            <div class="formCategogy">
                <div class="aa-about-us-right">
                    <div>
                        <h3>Khám phá danh mục bất động sản</h3>
                    </div>
                    <div class="title-image">
                        @foreach (var item in Model)
                        {
                            <li class="box">
                                <a class="menu" href="/Category/Category/@item.CatID">
                                    <div><img src="~/Assets/client/img/somot.png" alt="" width="60"></div>
                                    <div>
                                        <h7>@item.Name</h7>
                                    </div>
                                </a>
                            </li>
                        }
                        <li class="box">
                            <a class="menu" href="#">
                                <div><img src="~/Assets/client/img/somot.png" alt="" width="60"></div>
                                <div>
                                    <h7>Dự án</h7>
                                </div>
                            </a>
                        </li>
                        <li class="box">
                            <a class="menu" href="#">
                                <div><img src="~/Assets/client/img/somot.png" alt="" width="60"></div>
                                <div>
                                    <h7>Biểu đồ Giá</h7>
                                </div>
                            </a>
                        </li>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
