
<header id="aa-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-header-area">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="aa-header-left">
                                <div class="aa-telephone-no">
                                    <span class="fa fa-phone"></span>
                                    1-900-523-3564
                                </div>
                                <div class="aa-email hidden-xs">
                                    <span class="fa fa-envelope-o"></span> info@markups.com
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="aa-header-right">
                                <a href="signin.html" class="aa-register">ĐĂNG TIN MỚI</a>
                                @{
                                    var session = (UserLogin)Session[realEstateWeb.Common.CommonConstants.USER_SESSION];
                                }
                                @if (session == null)
                                {
                                    <a href="/User/Login" class="aa-register">ĐĂNG NHẬP</a>
                                }
                                else
                                {
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="" class="aa-login">@session.Username</a>

                                    <a class="" data-toggle="dropdown" href="properties.html">...<span class="caret"></span></a>
                                    <ul class="" role="menu">
                                        <li><a class="" href="">@Html.ActionLink("Logout", "Logout", "User")</a></li>
                                        <li><a class="" href="">Quan li tai khoan </a></li>

                                    </ul>

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End header section -->
<!-- Start menu section -->
<section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <!-- Text based logo -->
                <a class="navbar-brand aa-logo" href="/Home/Index"> Home <span>Property</span></a>
                <!-- Image based logo -->
                <!-- <a class="navbar-brand aa-logo-img" href="index.html"><img src="img/logo.png" alt="logo"></a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
                    <li class="active"><a href="/Home/Index">HOME</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="properties.html">REAL ESTATE<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="" href="/Home/index1">CĂN HỘ CHUNG CƯ </a></li>
                            <li><a class="" href="properties-detail.html">NHÀ Ở</a></li>
                            <li><a class="" href="properties-detail.html">ĐẤT</a></li>
                            <li><a class="" href="properties-detail.html">MẶT BẰNG</a></li>
                            <li><a class="" href="/Home/index1">PHÒNG TRỌ</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery.html">BLOG</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive.html">HƯỚNG DẪN <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="" href="blog-archive.html">BLOG</a></li>
                            <li><a class="" href="blog-single.html">HƯỚNG DẪN</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="contact.html">NỘP TIỀN </a></li>
                    <li><a class="" href="404.html">BẢNG GIÁ</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</section>
