
.form-group {
    margin-left: 10px;

}
.form-control{

}
.form-content {
    display: flex;
}
.form-group input[type=text]{
    height: 40px;
}
.btn-search {
    background-color: #82b5a5;
}
.form-group label{
    font-size: 17px;
    font-weight: bold;
}
.form-text textarea{
   width: 400px;
   height: 200px;
}
.form-group input[type=submit] {
    width: 150px;
    padding: 10px;
    background-color: #82b5a5;
    color: #fff;
}
.form-group .form-button{
   margin-left: 186px;

}
.form-group .form-btn {
    margin-left: 80px;
}
.pagination-content {
    padding: 5px;
    width: 35px;
}
.pagination li{
    margin: 0 5px;
}
.pagination li a {
    text-decoration: none;
}
.pagination{
    margin: 0;
    padding: 5px;
}
.form-back {
    margin: 10px 0 0 10px;
    border: 1px solid #000;
    width: 120px;
    padding: 8px;
    cursor: pointer;
}

    .form-back:hover {
        background-color: #82b5a5;
        color: #fff;
    }

    .form-back a:hover {
        color: #fff;
    }

    .form-back a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
.bg-inverse-primary, .image-grouped .text-avatar {
    background: #f6edff;
    border-color: #b66dff;
}

    .bg-inverse-primary .breadcrumb-item, .image-grouped .text-avatar .breadcrumb-item {
        color: #b66dff;
    }

        .bg-inverse-primary .breadcrumb-item:before, .image-grouped .text-avatar .breadcrumb-item:before {
            color: inherit;
        }

        .bg-inverse-primary .breadcrumb-item a, .image-grouped .text-avatar .breadcrumb-item a {
            color: inherit;
        }

    .bg-inverse-primary.breadcrumb-custom, .image-grouped .breadcrumb-custom.text-avatar {
        background: transparent;
    }

        .bg-inverse-primary.breadcrumb-custom .breadcrumb-item, .image-grouped .breadcrumb-custom.text-avatar .breadcrumb-item {
            background: #f6edff;
        }

            .bg-inverse-primary.breadcrumb-custom .breadcrumb-item a, .image-grouped .breadcrumb-custom.text-avatar .breadcrumb-item a {
                color: #b66dff;
                border: none;
            }

                .bg-inverse-primary.breadcrumb-custom .breadcrumb-item a:before, .image-grouped .breadcrumb-custom.text-avatar .breadcrumb-item a:before {
                    border-left-color: #f6edff;
                }

            .bg-inverse-primary.breadcrumb-custom .breadcrumb-item span, .image-grouped .breadcrumb-custom.text-avatar .breadcrumb-item span {
                color: #b66dff;
            }

            .bg-inverse-primary.breadcrumb-custom .breadcrumb-item:last-child, .image-grouped .breadcrumb-custom.text-avatar .breadcrumb-item:last-child {
                background: transparent;
            }

.bg-inverse-secondary {
    background: white;
    border-color: #c3bdbd;
}

    .bg-inverse-secondary .breadcrumb-item {
        color: #c3bdbd;
    }

        .bg-inverse-secondary .breadcrumb-item:before {
            color: inherit;
        }

        .bg-inverse-secondary .breadcrumb-item a {
            color: inherit;
        }

    .bg-inverse-secondary.breadcrumb-custom {
        background: transparent;
    }

        .bg-inverse-secondary.breadcrumb-custom .breadcrumb-item {
            background: white;
        }

            .bg-inverse-secondary.breadcrumb-custom .breadcrumb-item a {
                color: #c3bdbd;
                border: none;
            }

                .bg-inverse-secondary.breadcrumb-custom .breadcrumb-item a:before {
                    border-left-color: white;
                }

            .bg-inverse-secondary.breadcrumb-custom .breadcrumb-item span {
                color: #c3bdbd;
            }

            .bg-inverse-secondary.breadcrumb-custom .breadcrumb-item:last-child {
                background: transparent;
            }

.bg-inverse-success {
    background: #7ceedd;
    border-color: #1bcfb4;
}

    .bg-inverse-success .breadcrumb-item {
        color: #1bcfb4;
    }

        .bg-inverse-success .breadcrumb-item:before {
            color: inherit;
        }

        .bg-inverse-success .breadcrumb-item a {
            color: inherit;
        }

    .bg-inverse-success.breadcrumb-custom {
        background: transparent;
    }

        .bg-inverse-success.breadcrumb-custom .breadcrumb-item {
            background: #7ceedd;
        }

            .bg-inverse-success.breadcrumb-custom .breadcrumb-item a {
                color: #1bcfb4;
                border: none;
            }

                .bg-inverse-success.breadcrumb-custom .breadcrumb-item a:before {
                    border-left-color: #7ceedd;
                }

            .bg-inverse-success.breadcrumb-custom .breadcrumb-item span {
                color: #1bcfb4;
            }

            .bg-inverse-success.breadcrumb-custom .breadcrumb-item:last-child {
                background: transparent;
            }

.bg-inverse-info {
    background: #89c4f2;
    border-color: #198ae3;
}

    .bg-inverse-info .breadcrumb-item {
        color: #198ae3;
    }

        .bg-inverse-info .breadcrumb-item:before {
            color: inherit;
        }

        .bg-inverse-info .breadcrumb-item a {
            color: inherit;
        }

    .bg-inverse-info.breadcrumb-custom {
        background: transparent;
    }

        .bg-inverse-info.breadcrumb-custom .breadcrumb-item {
            background: #89c4f2;
        }

            .bg-inverse-info.breadcrumb-custom .breadcrumb-item a {
                color: #198ae3;
                border: none;
            }

                .bg-inverse-info.breadcrumb-custom .breadcrumb-item a:before {
                    border-left-color: #89c4f2;
                }

            .bg-inverse-info.breadcrumb-custom .breadcrumb-item span {
                color: #198ae3;
            }

            .bg-inverse-info.breadcrumb-custom .breadcrumb-item:last-child {
                background: transparent;
            }

.bg-inverse-warning {
    background: #ffed92;
    border-color: #fed713;
}

    .bg-inverse-warning .breadcrumb-item {
        color: #fed713;
    }

        .bg-inverse-warning .breadcrumb-item:before {
            color: inherit;
        }

        .bg-inverse-warning .breadcrumb-item a {
            color: inherit;
        }

    .bg-inverse-warning.breadcrumb-custom {
        background: transparent;
    }

        .bg-inverse-warning.breadcrumb-custom .breadcrumb-item {
            background: #ffed92;
        }

            .bg-inverse-warning.breadcrumb-custom .breadcrumb-item a {
                color: #fed713;
                border: none;
            }

                .bg-inverse-warning.breadcrumb-custom .breadcrumb-item a:before {
                    border-left-color: #ffed92;
                }

            .bg-inverse-warning.breadcrumb-custom .breadcrumb-item span {
                color: #fed713;
            }

            .bg-inverse-warning.breadcrumb-custom .breadcrumb-item:last-child {
                background: transparent;
            }

.bg-inverse-danger {
    background: #fffbfb;
    border-color: #fe7c96;
}

    .bg-inverse-danger .breadcrumb-item {
        color: #fe7c96;
    }

        .bg-inverse-danger .breadcrumb-item:before {
            color: inherit;
        }

        .bg-inverse-danger .breadcrumb-item a {
            color: inherit;
        }

    .bg-inverse-danger.breadcrumb-custom {
        background: transparent;
    }

        .bg-inverse-danger.breadcrumb-custom .breadcrumb-item {
            background: #fffbfb;
        }

            .bg-inverse-danger.breadcrumb-custom .breadcrumb-item a {
                color: #fe7c96;
                border: none;
            }

                .bg-inverse-danger.breadcrumb-custom .breadcrumb-item a:before {
                    border-left-color: #fffbfb;
                }

            .bg-inverse-danger.breadcrumb-custom .breadcrumb-item span {
                color: #fe7c96;
            }

            .bg-inverse-danger.breadcrumb-custom .breadcrumb-item:last-child {
                background: transparent;
            }

.bg-inverse-light {
    background: white;
    border-color: #f8f9fa;
}

    .bg-inverse-light .breadcrumb-item {
        color: #f8f9fa;
    }

        .bg-inverse-light .breadcrumb-item:before {
            color: inherit;
        }

        .bg-inverse-light .breadcrumb-item a {
            color: inherit;
        }

    .bg-inverse-light.breadcrumb-custom {
        background: transparent;
    }

        .bg-inverse-light.breadcrumb-custom .breadcrumb-item {
            background: white;
        }

            .bg-inverse-light.breadcrumb-custom .breadcrumb-item a {
                color: #f8f9fa;
                border: none;
            }

                .bg-inverse-light.breadcrumb-custom .breadcrumb-item a:before {
                    border-left-color: white;
                }

            .bg-inverse-light.breadcrumb-custom .breadcrumb-item span {
                color: #f8f9fa;
            }

            .bg-inverse-light.breadcrumb-custom .breadcrumb-item:last-child {
                background: transparent;
            }

.bg-inverse-dark {
    background: #778aa2;
    border-color: #3e4b5b;
}

    .bg-inverse-dark .breadcrumb-item {
        color: #3e4b5b;
    }

        .bg-inverse-dark .breadcrumb-item:before {
            color: inherit;
        }

        .bg-inverse-dark .breadcrumb-item a {
            color: inherit;
        }

    .bg-inverse-dark.breadcrumb-custom {
        background: transparent;
    }

        .bg-inverse-dark.breadcrumb-custom .breadcrumb-item {
            background: #778aa2;
        }

            .bg-inverse-dark.breadcrumb-custom .breadcrumb-item a {
                color: #3e4b5b;
                border: none;
            }

                .bg-inverse-dark.breadcrumb-custom .breadcrumb-item a:before {
                    border-left-color: #778aa2;
                }

            .bg-inverse-dark.breadcrumb-custom .breadcrumb-item span {
                color: #3e4b5b;
            }

            .bg-inverse-dark.breadcrumb-custom .breadcrumb-item:last-child {
                background: transparent;
            }
.card {
    border: 0;
    background: #fff;
}

    .card .card-body {
        padding: 2.5rem 2.5rem;
    }

        .card .card-body + .card-body {
            padding-top: 1rem;
        }

    .card .card-title {
        color: #343a40;
        margin-bottom: 0.75rem;
        text-transform: capitalize;
        font-family: "ubuntu-medium", sans-serif;
        font-size: 1.125rem;
    }

    .card .card-subtitle {
        font-family: "ubuntu-regular", sans-serif;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
    }

    .card .card-description {
        color: #76838f;
        margin-bottom: 1.5rem;
        font-family: "ubuntu-regular", sans-serif;
    }

    .card.card-outline-success {
        border: 1px solid theme-color("success");
    }

    .card.card-outline-primary {
        border: 1px solid theme-color("primary");
    }

    .card.card-outline-warning {
        border: 1px solid theme-color("warning");
    }

    .card.card-outline-danger {
        border: 1px solid theme-color("danger");
    }

    .card.card-rounded {
        border-radius: 5px;
    }

    .card.card-faded {
        background: #b5b0b2;
        border-color: #b5b0b2;
    }

    .card.card-circle-progress {
        color: #ffffff;
        text-align: center;
    }

    .card.card-img-holder {
        position: relative;
    }

        .card.card-img-holder .card-img-absolute {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }

    .card.bg-blue-gradient {
        background: -webkit-gradient(linear, left top, right top, from(#065efd), color-stop(#3169fd), to(#6f79fc));
        background: linear-gradient(to right, #065efd, #3169fd, #6f79fc);
        color: #fff;
    }

    .card.bg-orange-gradient {
        background: -webkit-gradient(linear, left top, right top, from(#ff7f2e), to(#fe7452));
        background: linear-gradient(to right, #ff7f2e, #fe7452);
        color: #fff;
    }

    .card.bg-green-gradient {
        background: -webkit-gradient(linear, left top, right top, from(#24e8a6), to(#09cdd1));
        background: linear-gradient(to right, #24e8a6, #09cdd1);
        color: #fff;
    }

    .card.card-no-shadow {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

        .card-columns .card {
            display: inline-block;
            width: 100%;
            margin-bottom: 0.75rem;
        }
}

.card-inverse-primary {
    background: rgba(182, 109, 255, 0.2);
    border: 1px solid theme-color-level(#b66dff, 1);
    color: theme-color-level(#b66dff, 3);
}

.card-inverse-secondary {
    background: rgba(195, 189, 189, 0.2);
    border: 1px solid theme-color-level(#c3bdbd, 1);
    color: theme-color-level(#c3bdbd, 3);
}

.card-inverse-success {
    background: rgba(27, 207, 180, 0.2);
    border: 1px solid theme-color-level(#1bcfb4, 1);
    color: theme-color-level(#1bcfb4, 3);
}

.card-inverse-info {
    background: rgba(25, 138, 227, 0.2);
    border: 1px solid theme-color-level(#198ae3, 1);
    color: theme-color-level(#198ae3, 3);
}

.card-inverse-warning {
    background: rgba(254, 215, 19, 0.2);
    border: 1px solid theme-color-level(#fed713, 1);
    color: theme-color-level(#fed713, 3);
}

.card-inverse-danger {
    background: rgba(254, 124, 150, 0.2);
    border: 1px solid theme-color-level(#fe7c96, 1);
    color: theme-color-level(#fe7c96, 3);
}

.card-inverse-light {
    background: rgba(248, 249, 250, 0.2);
    border: 1px solid theme-color-level(#f8f9fa, 1);
    color: theme-color-level(#f8f9fa, 3);
}

.card-inverse-dark {
    background: rgba(62, 75, 91, 0.2);
    border: 1px solid theme-color-level(#3e4b5b, 1);
    color: theme-color-level(#3e4b5b, 3);
}
.form-check {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 0;
}

    .form-check .form-check-label {
        display: block;
        margin-left: 1.75rem;
        font-size: 0.875rem;
        line-height: 1.5;
    }

.rtl .form-check .form-check-label {
    margin-left: 0;
    margin-right: 1.75rem;
}

.form-check .form-check-label input {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.rtl .form-check .form-check-label input {
    left: auto;
    right: 0;
}

.form-check .form-check-label input[type="checkbox"] + .input-helper:before, .form-check .form-check-label input[type="checkbox"] + .input-helper:after {
    position: absolute;
    top: 0;
    left: 0;
}

.rtl .form-check .form-check-label input[type="checkbox"] + .input-helper:before, .rtl .form-check .form-check-label input[type="checkbox"] + .input-helper:after {
    left: auto;
    right: 0;
}

.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: solid #b66dff;
    border-width: 2px;
    -webkit-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.form-check .form-check-label input[type="checkbox"] + .input-helper:after {
    -webkit-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    font-family: Material Design Icons;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    transform: scale(0);
    content: '\F12C';
    font-size: .9375rem;
    font-weight: bold;
    color: #ffffff;
}

.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
    background: linear-gradient(to right, #da8cff, #9a55ff);
    border-width: 0;
}

.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:after {
    width: 18px;
    opacity: 1;
    line-height: 18px;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form-check .form-check-label input[type="checkbox"]:disabled + .input-helper:before {
    border-color: #ebedf2;
}

.form-check .form-check-label input[type="checkbox"]:disabled:checked + .input-helper:after {
    background: #ebedf2;
    color: #ffffff;
}

.form-check .form-check-label input[type="radio"] + .input-helper:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border: solid #b66dff;
    border-width: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.rtl .form-check .form-check-label input[type="radio"] + .input-helper:before {
    left: auto;
    right: 0;
}

.form-check .form-check-label input[type="radio"] + .input-helper:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    top: 6px;
    left: 6px;
    -webkit-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    transform: scale(0);
    position: absolute;
}

.rtl .form-check .form-check-label input[type="radio"] + .input-helper:after {
    left: auto;
    right: 6px;
}

.form-check .form-check-label input[type="radio"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
    background: linear-gradient(to right, #da8cff, #9a55ff);
    border-width: 0;
}

.form-check .form-check-label input[type="radio"]:checked + .input-helper:after {
    opacity: 1;
    line-height: 1.5;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form-check .form-check-label input[type="radio"]:disabled + .input-helper:before {
    border-color: #ebedf2;
}

.form-check .form-check-label input[type="radio"]:disabled:checked + .input-helper:before {
    background: #ebedf2;
}

.form-check .form-check-label input[type="radio"]:disabled:checked + .input-helper:after {
    background: #ffffff;
}

.form-check-primary.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-primary.form-check label input[type="radio"] + .input-helper:before {
    border-color: theme-color(primary);
}

.form-check-primary.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-primary.form-check label input[type="radio"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
    background: linear-gradient(to right, #da8cff, #9a55ff);
}

.form-check-secondary.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-secondary.form-check label input[type="radio"] + .input-helper:before {
    border-color: theme-color(secondary);
}

.form-check-secondary.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-secondary.form-check label input[type="radio"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, right top, from(#e7ebf0), to(#868e96));
    background: linear-gradient(to right, #e7ebf0, #868e96);
}

.form-check-success.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-success.form-check label input[type="radio"] + .input-helper:before {
    border-color: theme-color(success);
}

.form-check-success.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-success.form-check label input[type="radio"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, right top, from(#84d9d2), to(#07cdae));
    background: linear-gradient(to right, #84d9d2, #07cdae);
}

.form-check-info.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-info.form-check label input[type="radio"] + .input-helper:before {
    border-color: theme-color(info);
}

.form-check-info.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-info.form-check label input[type="radio"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, right top, from(#90caf9), color-stop(99%, #047edf));
    background: linear-gradient(to right, #90caf9, #047edf 99%);
}

.form-check-warning.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-warning.form-check label input[type="radio"] + .input-helper:before {
    border-color: theme-color(warning);
}

.form-check-warning.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-warning.form-check label input[type="radio"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, right top, from(#f6e384), to(#ffd500));
    background: linear-gradient(to right, #f6e384, #ffd500);
}

.form-check-danger.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-danger.form-check label input[type="radio"] + .input-helper:before {
    border-color: theme-color(danger);
}

.form-check-danger.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-danger.form-check label input[type="radio"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096));
    background: linear-gradient(to right, #ffbf96, #fe7096);
}

.form-check-light.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-light.form-check label input[type="radio"] + .input-helper:before {
    border-color: theme-color(light);
}

.form-check-light.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-light.form-check label input[type="radio"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e4e4e9));
    background: linear-gradient(to bottom, #f4f4f4, #e4e4e9);
}

.form-check-dark.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-dark.form-check label input[type="radio"] + .input-helper:before {
    border-color: theme-color(dark);
}

.form-check-dark.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-dark.form-check label input[type="radio"]:checked + .input-helper:before {
    background: linear-gradient(89deg, #5e7188, #3e4b5b);
}
.grid-margin, .purchase-popup {
    margin-bottom: 2.5rem;
}

@media (min-width: 576px) {
    .grid-margin-sm-0 {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .grid-margin-md-0 {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .grid-margin-lg-0 {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .grid-margin-xl-0 {
        margin-bottom: 0;
    }
}

.img-lg {
    width: 92px;
    height: 92px;
}

.img-sm {
    width: 43px;
    height: 43px;
}

.img-xs {
    width: 37px;
    height: 37px;
}

.img-ss, .image-grouped .text-avatar,
.image-grouped img {
    width: 35px;
    height: 35px;
}

.stretch-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}

    .stretch-card > .card {
        width: 100%;
        min-width: 100%;
    }

@media (min-width: 576px) {
    .border-right-sm {
        border-right: 1px solid #ebedf2;
    }
}

@media (min-width: 768px) {
    .border-right-md {
        border-right: 1px solid #ebedf2;
    }
}

@media (min-width: 992px) {
    .border-right-lg {
        border-right: 1px solid #ebedf2;
    }
}

@media (min-width: 576px) {
    .border-left-sm {
        border-left: 1px solid #ebedf2;
    }
}

@media (min-width: 768px) {
    .border-left-md {
        border-left: 1px solid #ebedf2;
    }
}

@media (min-width: 992px) {
    .border-left-lg {
        border-left: 1px solid #ebedf2;
    }
}

.text-gray, .card .card-subtitle {
    color: #8c8c8c;
}

.text-black {
    color: #000000;
}

.text-small {
    font-size: 12px;
}

.flex-grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.font-weight-light {
    font-family: "ubuntu-light", sans-serif;
}

.font-weight-bold {
    font-family: "ubuntu-bold", sans-serif;
}

.font-weight-normal {
    font-family: "ubuntu-regular", sans-serif;
}

.image-grouped {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .image-grouped .text-avatar,
    .image-grouped img {
        border-radius: 100%;
        margin-left: -10px;
        z-index: 0;
        border: 4px solid #fff;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-property: "box-shadow", "z-index", "transform", "border-width", "box-shadow", "transform";
        transition-property: "box-shadow", "z-index", "transform", "border-width", "box-shadow", "transform";
        transition-property: "box-shadow", "z-index", "transform", "border-width";
    }

        .image-grouped .text-avatar:first-child,
        .image-grouped img:first-child {
            margin-left: 0;
        }

        .image-grouped .text-avatar:hover,
        .image-grouped img:hover {
            z-index: 1;
            -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
            border-width: 0;
        }

    .image-grouped .text-avatar {
        color: #b66dff;
        font-size: 11px;
        font-weight: 600;
    }

.aligner-wrapper {
    position: relative;
}

    .aligner-wrapper .absolute {
        position: absolute;
    }

        .aligner-wrapper .absolute.absolute-center {
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }

        .aligner-wrapper .absolute.left {
            left: 0;
        }

        .aligner-wrapper .absolute.right {
            right: 0;
        }

        .aligner-wrapper .absolute.bottom {
            bottom: 0;
        }

        .aligner-wrapper .absolute.top {
            top: 0;
        }

.v-strock-1 {
    width: 2px;
}

.v-strock-2 {
    width: 3px;
}

.v-strock-3 {
    width: 4px;
}

.v-strock-4 {
    width: 5px;
}

.dot-indicator {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

    .dot-indicator.dot-indicator-sm {
        width: 6px;
        height: 6px;
    }

.bg-gradient-primary {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff)) !important;
    background: linear-gradient(to right, #da8cff, #9a55ff) !important;
}

.bg-gradient-secondary {
    background: -webkit-gradient(linear, left top, right top, from(#e7ebf0), to(#868e96)) !important;
    background: linear-gradient(to right, #e7ebf0, #868e96) !important;
}

.bg-gradient-success {
    background: -webkit-gradient(linear, left top, right top, from(#84d9d2), to(#07cdae)) !important;
    background: linear-gradient(to right, #84d9d2, #07cdae) !important;
}

.bg-gradient-info {
    background: -webkit-gradient(linear, left top, right top, from(#90caf9), color-stop(99%, #047edf)) !important;
    background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
}

.bg-gradient-warning {
    background: -webkit-gradient(linear, left top, right top, from(#f6e384), to(#ffd500)) !important;
    background: linear-gradient(to right, #f6e384, #ffd500) !important;
}

.bg-gradient-danger {
    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096)) !important;
    background: linear-gradient(to right, #ffbf96, #fe7096) !important;
}

.bg-gradient-light {
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e4e4e9)) !important;
    background: linear-gradient(to bottom, #f4f4f4, #e4e4e9) !important;
}

.bg-gradient-dark {
    background: linear-gradient(89deg, #5e7188, #3e4b5b) !important;
}