
.preload {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    min-height: 100vh;
    background: #c9e1dc;
    z-index: 999999;
}
    .preload h1 {
        width: min-content;
        position: relative;
        animation: anim 2s linear infinite alternate;
        background: linear-gradient(to left,#82b5a5 0%, #82b5a5 50%,#fff 50%, #fff 100%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-family: initial;
    }

@keyframes anim {
    0% {
        background-position: 200% center;
    }

    100% {
        background-position: 100% center;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
