body {
    background-image: url('/Assets/client/img/slider/promo-banner1.jpg');
    background-color: #f8f8f8;
}
/* login */


.login__box h5,
.register__box h5 {
    color: #555;
    font-size: 16px;
    padding-top: 10px;
}

.login__box span,
.register__box span {
    color: red;
    cursor: pointer;
    padding-left: 5px;
    padding-top: 9px;
}

.register__content,
.login__content {
    display: flex;
    align-items: center;
}

.box {
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    padding: 15px 40px 15px 40px ;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5 );
    border-radius: 10px;
    
}

.form-icon {
    position: absolute;
    top: 15px;
    right: 32px;
    font-size: 25px;
    color: var(--color-primary);
    cursor: pointer;
}

.box h2 {
    margin: 30px 0 30px;
    padding: 0;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

    .box .inputBox input {
        width: 100%;
        padding: 10px 0;
        color: #555;
        letter-spacing: 2px;
        margin-top: 30px;
        border: none;
        border-bottom: 1px solid #555;
        outline: none;
        background: transparent;
    }

    .box .inputBox .captcha__content input {
        width: 50%;
    }

    .box .inputBox label {
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 2px;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }
.form-control {
    box-shadow: inset 0 0px 0px rgb(0 0 0 / 8%)
}
    .box .inputBox input:focus ~ label,
    .box .inputBox input:valid ~ label {
        top: -18px;
        left: 0;
        color: #82b5a5;
        font-size: 12px;
    }

.box input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background: #59abe3;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.register__open,
.login__open {
    color: #59abe3;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 11px 8px 0;
}
